.App {
  text-align: center;
}

table {
  width: 100%;
}

p {
  margin: 0px 0px;
}

.text-success {
  color: green;
}
.text-info {
  color: orange;
}

.text-danger {
  color: red;
}

.persons section {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
